.card-container {
	margin: 1rem;
	display: flex;
	align-items: center;
	width: 20rem;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 1rem;
}

.card-image {
	margin: 0 3rem 0 2rem;
	max-height: 3rem;
}

.card-title {
	color: black;
	margin-top: 0;
}
